<%= form_for(@run_step) do |f| %>
  <% if @run_step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@run_step.errors.count, "error") %> prohibited this run_step from being saved:</h2>

      <ul>
      <% @run_step.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :run_id %><br />
    <%= f.number_field :run_id %>
  </div>
  <div class="field">
    <%= f.label :book_step_id %><br />
    <%= f.number_field :book_step_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
