<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @run_step.id %>
</p>

<p>
  <b>Run:</b>
  <%= @run_step.run_id %>
</p>

<p>
  <b>Book step:</b>
 
</p>
sdf	


<%= link_to 'Edit', edit_run_step_path(@run_step) %> |
<%= link_to 'Back', run_steps_path %>
