<%= form_for(@book,  :html => { :class => "form label-inline"} ) do |f| %>

  <div style="clear:both"/>

  <button class="btn btn-blue btn-check">
	<p><%= link_to 'Back', books_path %></p>
  </button>

  <button class="btn btn-blue btn-check">
	<p><%= f.submit %></p>
  </button>

  <br/></br>


  <h2>Create New Run Book</h2>

<% if @book.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
  <ul>
    <% @book.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :title %>
  <%= f.text_field :title, :class => 'medium', :size => 50 %>
</div>
<div class="field">
  <%= f.label :description %>
  <%= f.text_area :description, :class => 'medium', :rows => 5, :cols => 100 %>
</div>
<div class="actions">

</div>
<% end %>

</div>
