<%= content_for :title, 'ACME Ltd Run Books ' %>

<div class="department">
  <div style="clear:both"/>
  
  <button class="btn btn-blue btn-check">
	<p><%= link_to 'Create New Run Book', new_book_path %></p>
  </button>

  <br/><br/>

  <h2>Our Run Books</h2>

  <table border=1 cellspacing=0 cellpadding=5 rel="datatable">
	<thead>
	  <tr>
		<th>Title</th>
		<th>Edit</th>
		<th>Runs In Progress?</th>
		<th>Last Run</th>
		<th>Delete Book</th>
	  </tr>
	</thead>
   	<tbody>
	  <% @books.each_with_index do |book,index| %>
	  <tr>
		<td width="600"><%= link_to book.title, book %></td>
		<td width="400"><%= link_to image_tag('pencil.png'), edit_book_path(book) %>
		<td width="200"><%= book.number_of_open_runs %></td>
		<td width="400"><%= book.most_recent_run.created_at unless book.most_recent_run.nil? %></td>
		<td width="400"><%= button_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>		 
	  <% end %>
  </table>
</div>



