<%= content_for :title, 'ACME Ltd Run Books' %>


<div class="department">
				
	<h2>Some Run Book Category</h2>
	
	<% @books.each do |book| %>

		<div class="user-card">
					
			<div class="avatar">
				<%= image_tag 'avatar.jpg' %>

			</div> <!-- .user-card-avatar -->
			
			<div class="details">
				<p><strong><%=  book.title %></strong><br />
					(702) 555-5555<br />
					<%= link_to book.title, book %></p>
			</div> <!-- .user-card-content -->
		
		</div> <!-- .user-card -->


	  
	<% end %>

</div>

<div style="clear:both"/>

<p><%= link_to 'New Book', new_book_path %></p>


<br />


