<%= content_for :title, 'ACME Ltd Run Books > ' + @book.title %>

<!-- Navigation buttons -->
<% if !@book.steps.empty? %> 
<button class="btn btn-blue btn-check"> 
  <%= link_to 'Execute Run Book', new_book_run_path(@book) %> 
</button>
<% end %>
<button class="btn btn-blue btn-check"> 
  <%= link_to 'Edit Run Book Details', edit_book_path(@book) %>
</button>
<button class="btn btn-blue btn-check"> 
  <%= link_to 'Add Step To Run Book', new_book_step_path(@book) %>
</button>

<br/><br/>

<h2>Run Book Details</h2>

<p><i><%= @book.description %></i></p>

<% if !@book.steps.empty? || !@book.runs.empty? %>

<div class="tab_container">
  <ul class="tabs"> 
	
	<% if !@book.steps.empty? %>
	<li><a href="#tab1">Steps</a></li>
	<% end %>  


	<% if !@book.runs.empty? %>
	<li><a href="#tab2">Runs</a></li>
	<% end %>
  </ul> 

  <div class="tab_content_container"> 
	
	<% if !@book.steps.empty? %>	
	<div id="tab1" class="tab_content"> 
	  <div class="department">
		<table border=1 cellspacing=0 cellpadding=5     rel="datatable" id="example">
		  <thead>
			<tr>
			  <th>Step</th>
			  <th>Title</th>
			  <th>Edit</th>
			  <th>Sort</th>
			  <th>ads</th>	
			  <th>ads</th>	
			  <th>ads</th>
			</tr>
		  </thead>	
		  <tbody>
			<% @book.steps.each_with_index do |step,index| %>
			<tr>
			  <td width="100"><%= index %></td>
			  <td width="200"><%= step.title %></td>
			  <td width="500"><%= link_to image_tag('pencil.png') , edit_book_step_path(step.book,step) %>
			  <td width=100>
				<%= image_tag 'sort_asc.png'%>
				<%= image_tag 'sort_desc.png'%>
			  </td>
			  <td></td>
			  <td></td>
			  <td></td>
			</tr>
			<% end %>
		  </tbody>
		</table>
	  </div>
	</div> 
	<% end %>
	<!-- #tab1 -->

	<% if !@book.runs.empty? %>
	<div id="tab2" class="tab_content"> 
	  <div class="department">			
		<table border=1 cellspacing=0 cellpadding=5    rel="datatable" id="example">
		  <thead>
			<tr>
			  <th width="100">Step</th>
			  <th width="200">User</th>
			  <th width="200">Start Time</th>
			  <th width="100">Complete?</th>
			</tr>
		  </thead>	
		  <tbody>
			<% @book.runs.each_with_index do |run,index| %>
			<tr>
			  <td><%= index %></td> 
			  <td><%= run.user %>
			  <td><%= run.created_at %></td>
			  <td><%= run.complete %></td>
			</tr>
			<% end %>
		  </tbody>
		</table>
	  </div>
	</div> 
	<% end %>
	<!-- #tab2 -->
	
  </div> 

</div> <!-- .tab_container -->
<% end %>

<div style="clear:both"/>
<br>





<div style="clear:both"/>



