<%= content_for :title, 'ACME Ltd Run Books > ' + @book.title %>


<p><i><%= @book.description %></i></p>

<p>
	<%= link_to 'Execute This Runbook', new_book_run_path(@book) %> 
</p>

<p><b>Steps:</b></p>

<table border=1 cellspacing=0 cellpadding=5     rel="datatable" id="example">
<thead>
	<tr>
		<th>Step</th>
		<th>Title</th>
		<th>Edit</th>
	</tr>
</thead>	
<tbody>
<% @book.steps.each_with_index do |step,index| %>
	<tr>
		<td width="100"><%= index %></td>
		<td width="200"><%= step.title %></td>
		<td width="200"><%= link_to 'Edit', edit_book_step_path(step.book,step) %>
	</tr>
<% end %>
</tbody>
</table>

<%= link_to 'Add Step', new_book_step_path(@book) %>

<p><b>Runs:</b></p>

<table border=1 cellspacing=0 cellpadding=5    rel="datatable" id="example">
<thead>
	<tr>
		<th width="100">Step</th>
		<th width="200">User</th>
		<th width="200">Start Time</th>
	</tr>
</thead>	
<tbody>
<% @book.runs.each_with_index do |run,index| %>
	<tr>
		<td><%= index %></td> 
		<td><%= run.user %>
		<td><%= run.created_at %></td>
	</tr>
<% end %>
</tbody>
</table>


<br>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
