<h2>Login</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

<div>
  <%= f.label :email %>
  <%= f.email_field :email, :class => 'text' %>
  </br></br>

  <%= f.label :password %>
  <%= f.password_field :password, :class => 'text' %>
  </br></br>
  <center>
	<%= f.submit "Sign in" %>
	</br></br>
	<p><%= render "devise/shared/links" %></p>
  </center> 
</div>

<% end %>	
