<%= content_for :title, 'ACME Ltd Run Books > ' + @step.book.title + ' > ' + @step.title %>

<div class="department">

  <%= form_for(@step, :html => { :class => "form label-inline" } ) do |f| %>
  
  <!-- Navigation buttons -->
  <div style="clear:both"/>
  <% unless @step.previous.nil? %>
  <button class="btn btn-blue btn-check"> 
	<%= link_to 'Previous', @step.previous  %>
  </button>
  <% end %>
  <% if !@step.next.nil? %>
  <button class="btn btn-blue btn-check"> 
	<%= link_to 'Next', @step.next   %>
  </button>
  <% else %>
  <button class="btn btn-blue btn-check"> 
	<%= link_to 'Finish', :controller => 'runs', :id => @current_run.id, :action => 'finish'   %>
  </button>
  <% end %>
  <br/><br/>
  
  <!-- End navigation buttons -->

  <h1><%= @step.title %></h1>

  <h2>Step Description</h2>
  <p><i><%= @step.description %></i></p>

  <% if !@step.step_screenshot? %>
  <h2>Step Image</h2>
  <%= image_tag @step.step_screenshot.url %>
  <% end %>

  <% if @step.capture_output %>
  <h2>Captured Output</h2>  
  <div class="field">
    <%= f.text_area :captured_output, :cols => 100, :rows => 5  %>
  </div>
  <% end %>

  <div style="clear:both"/>
  <% if !@step.step_validations.empty? %>
  <h2>Validation Steps</h2>
  <br/>
  <h2>Confirmation Steps</h2>
  <p>
	<% @step.step_validations.each do |validation|  %>
	<%= image_tag 'cross.png', :align => 'absmiddle' %> <%= validation.description %><br>
	<% end %>
  </p>
  <% end %>
</div>


<% end %>




</div>
